td {
    background: grey;
    border: 1px solid black;
    width: 26px;
    height: 26px;
    text-align: center;
}

.empty {
    background: white;
}

.mine {
    background: red;
}

.marked {
    background: yellow;
}